aiohttp==3.9.1
Flask==3.0.0
gql==3.0.0
graphql-core==3.2.0
uWSGI
psycopg2-binary==2.9.3
pygsheets==2.0.5
urllib3==1.25.3
requests==2.22.0
google-api-python-client==2.34.0
google-cloud-storage==1.44.0
google-cloud-core==2.2.2
google-cloud-datastore==2.9.0
python-dateutil==2.8.2
pygsheets==2.0.5
